@import url("http://fonts.googleapis.com/css2?family=Noto=Sans:wgth@700&family=Poppins:wgth@400:500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    overflow: hidden;
    height: 100vh;
    background: radial-gradient(#0099ff, rgb(255, 230, 0));

}
.center_card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: blue;
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 100px 15px rgba(0, 0, 0, 1);
}
.center_card h1{
    text-align: center;
    padding:20px 0;
    border-bottom: 1px solid silver;
}