@import url("http://fonts.googleapis.com/css2?family=Noto=Sans:wgth@700&family=Poppins:wgth@400:500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    overflow: hidden;
    height: 100vh;
    background: radial-gradient(#00ccff, rgb(255, 255, 255));

}
.center_card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    width: 400px;
    border-radius: 10px;

} 
.center_card h1{
    text-align: center;
    padding:20px 0;
    border-bottom: 1px solid silver;
}
.center_card .card-body{
    padding: 0 40px;
    box-sizing: border-box;

}
.card-body .field{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 20px 0;
}
.field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.field label {
    position: absolute;
    top: 25%;
    left: 5px;
    color: silver;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.field span::before{
    content:"";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
}
.field input:focus ~ label, 
.field input:valid ~ label{
    top: -5px;
    color: black;
    
}